.game{
    width: 400px;
    text-align:center;
    color:rgba(137, 43, 226, 0.504);
    font-family: Georgia;
    font-size: 32px;
    margin: auto;
    font-weight: 600;
    padding: 50px 0px 0px 0px 0px
}

#Reset {
    position: absolute;
    right:    0;
    bottom:   0;
    margin: 50px 700px 150px 200px;
    background: aquamarine;
    font-size: 20px;
    text-align: center;
}

.title{
    background-color: bisque;
    padding: 10px 10px 10px 10px;
    margin: 5px 10px 5px 0px ;
}

span{
    color: rgba(171, 49, 90, 0.629) ;
}

.square{
width: 125px;
height: 125px;
background-color: bisque;
float: left;
margin: 3px;
font-size: 50px;
padding: 50px 0px 0px 0px;
}

.square:hover{
    background-color: rgba(171, 49, 90, 0.629);
    cursor: pointer;
}
